header
{
	position: absolute;
	left: 0%;
	right: 0%;
	font-family: "Roboto",-apple-system,BlinkMacSystemFont,system-ui,Segoe UI,Helvetica Neue,sans-serif;
}
#header_top
{
	display: flex;
	background-color:#E5E5E5;
	color: #2D4059;
	justify-content: flex-start;
	
}

nav
{
	display: flex;
	background-color: #2D4059;
	justify-content: space-around;
}

.search_bar
{
	height: 30px;
	border-radius: 5px;
	border: none;
}
.link
{
	display: flex;
  	flex-flow: row wrap;
  	justify-content: flex-end;
  	align-items: center;
  	list-style: none;
  	margin: 0; 
}

.link a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

a
{
	text-decoration: none;
	color: white;
}
.button_search 
{
	margin-left: 25px;
	margin-right: 30px;
	color: white;
	width: 128px;
	border: none;
	padding: 10px;
	background: #EA5455;
	border-radius: 7px;
	
}


/*--------------------------------------------------------------------------------------------*/

/*
.site_name
{
	
}

.slogan
{
	
}
*/
/*----------------------------------------------------------------------------------------------------*/

/*.step_1
{
	position: absolute;
	left: 60.56%;
	right: 27.36%;
	top: 75.5%;
	bottom: 61%;
	
}
.step_2
{
	position: absolute;
	left: 77.7%;
	right: 15.34%;
	top: 75.5%;
	bottom: 61%;
}

.step_3
{
	position: absolute;
	left: 85.08%;
	right: 2.6%;
	top: 75.5%;
	bottom: 61%;
	
}

/*--------------------------------------------------------------------------------------------*/

/*.shop
{
	position: absolute;
	left: 55.76%;
	right: 40.13%;
	top: 73.06%;
	bottom: 19.7%;
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	text-align: center;

	color: #FFFFFF;

	transform: rotate(-0.33deg);
}

.faq
{
	position: absolute;
	left: 61.66%;
	right: 29.65%;
	top: 72.78%;
	bottom: 19.97%;
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	text-align: center;

	color: #FFFFFF;

	transform: rotate(-0.33deg);
}

.login
{
	position: absolute;
	left: 69.42%;
	right: 19.23%;
	top: 72.56%;
	bottom: 19.22%;
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	color: #FFFFFF;
	
}

.cart
{
	position: absolute;
	left: 81.42%;
	right: 16.86%;
	top: 68.97%;
	bottom: 17.98%;
	color:white;
	
}

.header_bottomcenter input[type=text]
{

  	position: absolute;
	left: 25.06%;
	right: 57.14%;
	top: 65.7%;
	bottom: 15.46%;
	border-radius: 10px;

}
*/